body{
	background: #eaeae9;
}
h2, p{

	text-align: center;
}
.container{
	padding-left:25px;
}

.ballet{
	background-image: url(../img/dance_12.jpg);
	background-size: 380px 450px;
	width: 380px;
	height: 450px;
	margin-bottom: 25px;
}
.break{
	background-image: url(../img/breakdance.jpg);
	background-size: 380px 450px;
	width: 380px;
	height: 450px;
	margin-bottom: 25px;
}
.jazz{
	background-image: url(../img/lirical-jazz.jpg);
	background-size: 380px 450px;
	width: 380px;
	height: 450px;
	margin-bottom: 25px;
}
.arabe{
	background-image: url(../img/arabe.jpg);
	background-size: 380px 450px;
	width: 380px;
	height: 450px;
}
.little{
	background-image: url(../img/little.jpg);
	background-size: 380px 450px;
	width: 380px;
	height: 450px;
}
.yoga{
	border: 1px solid black;
	background-image: url(../img/yoga.jpg);
	background-size: 380px 450px;
	width: 380px;
	height: 450px;
}
/*puroorororororororo texto*/
.texto{
	width: 350px;
	height: 180px;
	border: 1px solid black;
	background-color: black;
	margin:0 auto;
	opacity: 0.6;
	position: relative;
	top:100px;
    filter: alpha(opacity=60);
}
